.container-fluid {
    height: 100vh
}
.row {
    height: 50%;
}

.col-4 {
    height: 100%;
}
.scroller-hide::-webkit-scrollbar {
    display: none;
}
.scroller-col {
    max-height: 23vh;   
}
li {
    list-style-type: none;
}